body{
    background-color: black;
    color: beige;
}
.sidenav{
    background-color: rgb(3, 59, 67);
    width: 4%;
    height: 100%;
    position: absolute;
    border-radius: 1rem;
    top: 0%;
    left: 0%;
    padding-top: 1.5%;
    padding-left: 2%; 
    .dp{
        margin-top: 300%;
    }
    .downone{
        position: absolute;
        bottom: 3%;
        writing-mode: sideways-lr;
        margin-left: -14%;
        
    }
}
.dtop{
    background-color: rgb(3, 59, 67);
    position: absolute;
    display: flex;
    margin-left: 5.6%;
    border-radius: 1rem;
    height: 14%;
    width: 94%;
    top: 0%;
    gap: 5cm;
    .fh2{
        padding-left: 5%;
        padding-top: 1%;
        font-family: fantasy;
        a{
            color: azure;
            text-decoration: none;
        }
    }
    .the3{
        display: flex;
        gap: 3cm;
        font-size: 10px;
        padding-top: 2%;
        a{
            color: azure;
            text-decoration: none;

        }
    }
    .sh2{
        display: flex;
        gap: 3cm;
        font-size: 15px;
        padding-top: 2%;
        a{
            border: 1px solid azure;
            text-decoration: none;
            color: azure;
            border-radius: 40rem;
            padding: 10px;
        }
    }
    .fonta{
        position: relative;
        top: 44%;
        left: 12%;
        size: 40cap;
    }
}
.mbody{
    background-color: rgb(3, 59, 67);
    position: relative;
    margin-left: 5.7%;
    margin-top: 7%;
    height: 50vh;
    display: block;
    width: 95%;
    border-radius: 1rem;
    .mbody1{
        padding-top: 3%;
        margin-left: 7%;
        font-family: fantasy;
        font-size: 30px;
    }
    .pmain{
        display: flex;
        a{
            background-color: rgb(173, 255, 47);
            text-decoration: none;
            color: black;
            border-radius: 40rem;
            font-size: xx-small;
            margin-top: -3%;
            padding-top: 1.3%;
            width: 5%;
            height: 4vh;
            text-align: center;
        }
        h1{
            margin-top: -4%;
            margin-left: -10;
        }
    }
    .onewith{
        margin-left: 13%;
        margin-top: -3%;
        .tpo{
            font-size: 30px;
            font-family: fantasy;
        }
        .tpo2{
            font-size: 10px;
            margin-top: -2%;
        }
    }
    .myimg{
        position: absolute;
        top: 10%;
        right: 10%;
        transition: ease-in-out;
    }
    .last{
        /* position: absolute; */
        margin-left: 82%;
        margin-top: -15%;
        color: black;
        width: 10%;
        padding-top: 0.1%;
        height: 10vh;
        text-align: center;
        border-radius: 40rem;
        background-color: rgb(173, 255, 47);
        transform: translate(-30%, -30%);
        .dp2{
            margin-top: -6%;
        }
    }
}
.foot{
    position: relative;
    border-radius: 5%;
    display: flex;
    margin-left: 5.8%;
    margin-top: 0.2%;
    width: 95%;
    height: 35.4vh;
    font-family: fantasy;
    .foot1{
        background-color: rgb(3, 59, 67);
        width: 34%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        margin-right: 3px;
        .f1p{
            margin-left: 15%;
            margin-top: 5%;
            border: 0.3px solid azure;
            width: 50%;
            text-align: center;
            border-radius: 40rem;
        }
        .f2p{
            display: flex;
            margin-left: 15%;
            margin-top: 1%;
            gap: 0.2cm;
            .pfv{
                border: 0.3px solid azure;
                width: 30%;
                border-radius: 50rem;
                text-align: center;
            }
            .pfp{
                border: 0.3px solid azure;
                width: 50%;
                border-radius: 40rem;
                text-align: center;
            }
        }
        .f3p{
            display: flex;
            margin-left: 15%;
            margin-top: 1%;
            gap: 0.2cm;
            .fpl1{
                border: 0.3px solid azure;
                width: 25%;
                border-radius: 40rem;
                text-align: center;
            }
            .fpl2{
                border: 0.3px solid azure;
                width: 45%;
                border-radius: 40rem;
                text-align: center;
            }
        }
        .llp{
            margin-left: 15%;
            margin-top: 5%;
        }
    }
    .foot2{
        background-color: rgb(128, 247, 59);
        width: 34%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        margin-right: 3px;
        .ft1{
            margin: 10%;
            margin-left: 15%;
            width: 70%;
            font-size: 20px;
            color: black;
        }
        .ft2{
            margin-left: 15%;
            display: flex;
            gap: 2cm;
            .tdiv2{
                color: black;
                width: 10%;
            }
        }
    }
    .foot3{
        background-color: rgb(180, 226, 234);
        width: 34%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        margin-right: 3px;
        .ftll{
            margin-left: 20%;
            font-size: 50px;
            color: black;
        }
        .ftll2{
            margin-left: 20%;
            font-size: 15px;
            color: black;
            margin-top: -10%;
        }
    }
}